@import url("main.css");

body {
  background-image: url("../images/market.jpg");
  background-size: cover;
  background-position: center;
  transition: background-color 0.5s, color 0.5s;
  height: 100vh !important;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
