@import url('main.css');

.mapping {
    background-color: #003366;
    color: var(--bs-light);
}

.header{
    font-weight: bold;
    margin: 25px 0px 5px 0px;
}

#map {
    height: 300px;
    width: 80%;
}

.custom-table.light td {
    padding: 15px;
    background-color: #003366;
    /* Custom background color */
    color: var(--bs-light);
}

.modal{
    color: black;
}
.map-section{
    display: none;
}

.stall {
    cursor: pointer !important;
}

#stall-info {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}