@import url('main.css');

.mapping {
    background-color: #003366;
    color: var(--bs-light);
}

.header{
    font-weight: bold;
    margin: 25px 0px 5px 0px;
}

#map {
    height: 300px;
    width: 80%;
}

.custom-table.light td {
    padding: 15px;
    background-color: #003366;
    /* Custom background color */
    color: var(--bs-light);
}

.modal{
    color: black;
}
/* Vicinity Map */
/* .map {
    border: 1px solid #ddd;
    background-color: #fefefe;
} */

/* Background pattern */


/* .map-section {
    display: none;
} */


/* Stalls
.stall {
    stroke-width: 1;
    rx: 4;
    ry: 4;
    stroke: #666;
}

/* Specific Colors for Each Section */
/* .fish-stall {
    fill: #cdeaf1;
    stroke: #4fa3b7;
}

.meat-stall {
    fill: #f2d1d1;
    stroke: #c15252;
}

.fruit-veg-stall {
    fill: #daf2da;
    stroke: #4d9b4d;
}

.grocery-stall {
    fill: #fcf1cd;
    stroke: #e0a848;
}

.dry-goods-stall {
    fill: #eaeaea;
    stroke: #999999;
} */

/* Passageways */
/* .passageway {
    stroke: #bbb;
    stroke-width: 2;
    stroke-dasharray: 6;
}  */

.stall {
    cursor: pointer !important;
}

#stall-info {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}