@import url(main.css);

.review-container {
  background-color: #f8f9fc;
  color: #003366;
  border-radius: 40px;
  box-shadow: 0 1px 100px rgba(0, 0, 0, 0.1);
  border: 6px solid #003366;
  padding: 30px;
  width: 60%;
  margin: 50px auto;
}

.review-container h4 {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #003366;
}

.review-btn {
  display: block;
  background-color: #003366 !important;
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  max-width: 200px;
  font-size: 1rem;
  cursor: pointer;
}

h5,
h6 {
  color: #003366;
}
table {
  max-width: 40%;
  background: transparent !important;
  background-color: none;
}

table td,
th {
  color: #003366 !important;
  background-color: transparent !important;
  text-align: left;
  padding: 1px !important;
}

.badge {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
}

.text-muted {
  color: #6c757d;
  font-style: italic;
}

.approval-actions {
  margin-top: 15px;
}

.btn-return {
  border: 0 !important;
  margin: 0px 0px !important;
  padding: 0;
  font-size: 18px !important;
  font-weight: 600 !important;
  cursor: pointer;
}

.rejection_input {
  border: 3px solid #003366;
  border-radius: 10px;
  padding: 7px 15px;
  width: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.icon-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  font-size: 20px;
  color: #fff;
}
.text-muted {
  font-size: 14px;
}

.title {
  color: #003366;
}
.title-icon {
  background-color: #003366;
}
